@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --Soft-orange: #e9ab53;
    --Soft-red: #f15e50;

    --Off-white: #fffdfa;
    --Grayish-blue: #c5c6ce;
    --Dark-grayish-blue: #5d5f79;
    --Very-dark-blue: #00001a;
}

body{
    background-color: var(--Off-white);
    font-family: 'Inter', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 80px;
}

p{
    font-size: 17px;
}

#menu a{
    margin-left: 30px;
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}

#menu a:hover{
    color: var(--Soft-red);
}

#icone-menu{
    display: none;
}

@media (max-width: 700px){

    #icone-menu{
        display: block;
    }

    #menu{
        display: none;
    }
}

