@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --Soft-orange: #e9ab53;
    --Soft-red: #f15e50;

    --Off-white: #fffdfa;
    --Grayish-blue: #c5c6ce;
    --Dark-grayish-blue: #5d5f79;
    --Very-dark-blue: #00001a;
}

body{
    background-color: var(--Off-white);
    font-family: 'Inter', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
}

header{
    margin: 50px 70px;
}

p{
    font-size: 17px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item{
    list-style: none;
    display: inline;
}

.nav-link{
    margin-left: 30px;
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}

.nav-link:hover{
    color: var(--Soft-red);
}

.hamburger{
    display: none;
    cursor: pointer;
    padding: 15px;
    margin: -15px;
}

.bar{
    display: block;
    width: 36px;
    height: 4px;
    margin: 4px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: var(--Very-dark-blue);
}

#menu-ativo{
    display: none;
    position: absolute;
    left: 0;
    height: 300px;
    width: 100%;
    
    list-style: none; 
}


@media (max-width: 768px){

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        display: none;
    }

    #menu-ativo.active{
        display: block;
        background-color: var(--Very-dark-blue);
        
    }

    #menu-ativo li{
        margin: 30px;
        
    }

    #menu-ativo li a{
        color: var(--Dark-grayish-blue);
        text-decoration: none;
    }

}

